In [1]:
#Importing the dependencies
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
#Loading the dataset into the pandas dataframe

df=pd.read_csv("E:\\Datasets\\50_Startups.csv")

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
#Label Encoding to transform our categorical data to numerical data

from sklearn.preprocessing import LabelEncoder
label_encoder_x=LabelEncoder()
state_labels=label_encoder_x.fit_transform(df.State)
df["State"]=state_labels

In [5]:

df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [6]:
#Splitting the data into features and target variables

X=df.iloc[:,:-1].values
Y=df.iloc[:,4].values

In [7]:
#Splitting the dataset into the training data and testing data

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=2)
print(X_train.shape,Y_train.shape,X_test.shape,Y_test.shape)

(40, 4) (40,) (10, 4) (10,)

In [8]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [15]:
y_pred=regressor.predict(X_test)

print("My Y prediction is :",y_pred)
print("My prediction average :",y_pred.mean())
print("Dataset prediction :",Y_test)
print("Dataset prediction average :",Y_test.mean())

My Y prediction is : [ 74812.14788419  45957.0185796  100411.9766159  155330.45180131
 127314.44726377 192299.43931389  63830.29667314  55714.63858572
  84260.35472974 110059.47662316]
My prediction average : 100999.02480704166
Dataset prediction : [ 90708.19  42559.73 103282.38 149759.96 134307.35 192261.83  65200.33
  49490.75  81005.76 108733.99]
Dataset prediction average : 101731.027
(10,) (10,)

In [24]:
#Building Optimal Model using Backward Elimination
import statsmodels.formula.api as sm 
from statsmodels.formula.api import *
X=np.append(arr = np.ones([50,1]).astype(int), values = X,  axis=1)

In [25]:
X=pd.DataFrame(X)

In [26]:
X.head()

     0    1    2    3    4    5          6          7          8    9
0  1.0  1.0  1.0  1.0  1.0  1.0  165349.20  136897.80  471784.10  2.0
1  1.0  1.0  1.0  1.0  1.0  1.0  162597.70  151377.59  443898.53  0.0
2  1.0  1.0  1.0  1.0  1.0  1.0  153441.51  101145.55  407934.54  1.0
3  1.0  1.0  1.0  1.0  1.0  1.0  144372.41  118671.85  383199.62  2.0
4  1.0  1.0  1.0  1.0  1.0  1.0  142107.34   91391.77  366168.42  1.0